h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1{
    font-family: 'bank gothic';
    font-weight: 500;
    font-size: 50px;
    
}

h4{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 19px;
    color: var(--couleur-secondaire);
}

h3{
    font-family: 'Anek Gurmukhi';
    font-weight: 800;
    font-size: 37px;
    color: var(--couleur-tonique);
}

h2{
    font-family: 'fresca';
    font-weight: 400;
    font-size: 36px;
    color: white;
}

a{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: black;
}

p{
    font-family: 'Inter';
    font-size: 15px;
    color: black;
    font-style: normal;
    font-weight: 400;
}
