* {
    box-sizing: border-box;
  }

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1{
    font-family: 'bank gothic';
    font-weight: 500;
    font-size: 50px;
    
}

h4{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 19px;
    color: var(--couleur-secondaire);
}

h3{
    
    font-family: 'Anek Gurmukhi';
    font-weight: 800;
    font-size: 37px;
    color: var(--couleur-tonique);
    margin-top: 25px;
}

h2 {
    font-family: 'Inter';
    color: var(--couleur-secondaire);
    font-weight: 700;
    font-size: 27px;
    padding-top: 50px;	
    position: relative; /* Ajoutez cette ligne pour positionner le pseudo-élément par rapport à cet élément */
}

h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 20px; /* Changez cette valeur pour déplacer le trait vers le bas */
    width: 100%;
    height: 3px;
    background-color: var(--couleur-tonique);
}

a{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: black;
}

p{
    font-family: 'Inter';
    font-size: 15px;
    color: black;
    font-style: normal;
    font-weight: 400;
}
