.footer{

    background-color: var(--couleur-secondaire, #37363B);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.footer__logo--mmi{
    height: 50px;
   margin-top: 12px;
   
  
   
}

.footer__nav{
    padding: 1rem;
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.footer__element{
    font-size: 15px;
    font-weight: 400;
    color: white;
    padding: 0.5rem;
    text-align: center;
    
    margin-bottom: 20px;
}

.footer__text{
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 0;
    
}
    


    
