.footer{
    background-color: var(--couleur-secondaire, #37363B);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.footer__logo--mmi{
    
    margin-left: 10.5rem;
}

.footer__nav{
    padding: 1rem;
    
}

.footer__
    


    
