.header {
    background: var(--couleur-secondaire, #37363B);
    height: auto;
    padding: 0.5rem;
    position: fixed; 
    width: 100%; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 

}

.header__logo--menu{
    margin-right: 25px;
    height: 30px;

}
   

.header__logo--link{
    
}

.header__close{
    position: absolute;
    height: 30px;
    right: 17px;
    top: 11px;
}