.header {
    display: flex;
    justify-content: space-between;
    
    padding:1rem ;
}

.header--bg {
    background-color: var(--couleur-secondaire);
}

.header__logo-link {
    top: var;
}

.header__close{
    position: absolute; /* Ajouté - positionne l'élément par rapport à son conteneur le plus proche avec position: relative; ou position: absolute; */
    right: 6%; /* Ajouté - positionne l'élément à droite du conteneur */
    top: 20px;
    height: 33px;
}



.header__logo--menu{
    right: 6%;
    height: 30px;
}

.header__language{
    margin-top: 3px;
    font-size: 23px;
    margin-left: 170px;
    color: white;
    text-decoration: none;
}

.header__language:active{
    color: var(--couleur-tonique);
}