.article{
    margin-bottom: 40px;
}
.article__realisateur{
    padding: 1.3rem;
    margin-bottom: 20px;
}
.article__intro{
    
    width: 100%;
    
    margin-top: 70px;
    margin-bottom: -15px;
}



.article__title{
    margin-top: 25px;
}

.article__info{
    margin-top: 20px;
}

.article__intertitre{
    margin-bottom: 20px;
}

.article__legende{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
    color: var(--couleur-secondaire);
}

.article__text{
    margin-top: 20px;
    margin-bottom: 20px;
    
}