.article{
    margin-bottom: 40px;
}
.article__realisateur{
    padding: 1.3rem;
    margin-bottom: 20px;
}
.article__intro{
    
    width: 100%;
    margin-bottom: -12px;
    
    margin-top: 70px;
}



.article__title{
    margin: 0;
    margin-top: 25px;
}

.article__info{
    margin-top: 20px;
}

.article__intertitre{
    margin-bottom: 20px;
}

.article__legende{
    font-size: ;
    text-align: center;
    margin-top: 5px;
    color: var(--couleur-tonique);
    
}

.article__text{
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.article__img{
    position: relative;
}

.article__icon{
    position: absolute; /* Positionne l'icône de manière absolue par rapport au conteneur .article__image */
    
    margin-top: -200px;
    height: 100px;
    left: 50%; /* Centre l'icône horizontalement */
    transform: translate(-50%, -50%); /* Ajuste la position de l'icône pour qu'elle soit centrée par rapport à son propre centre */
}

.article__video{
    margin-top: 30px;
}
