
* {
  box-sizing: border-box;
}
img {
  max-width: 100%; /* image responsive, largeur maxi */
  height: auto; /* hauteur "auto" */

}
.carrousel_parent-ecrans {
  display: flex;
  width: 100%;
  overflow-x: scroll; /* permet de scroller horizontalement */
  scroll-behavior: smooth; /* animation de défilement */
  scroll-snap-type: x mandatory; /* permet de scroller par blocs */
}
.carrousel_ecran {
  
  width: 100%; /* largeur du parent pour chaque enfant */
  flex: none;  /* permet de garder toute la largeur du parent */
  scroll-snap-align: start; /* aligne les enfants par blocs */
  margin-bottom: 23px;
  
}
.carrousel_ecran figure {
  
  margin: 0; /* enlève les marges par défaut */
  display: flex; /* permet de mettre les enfants sur une ligne */
  /*border: var(--couleur-secondaire) 2px solid; /* bordure */
  align-items: center; /* centre verticalement les enfants */
  flex-direction: column; /* aligne les enfants verticalement */
  
  text-decoration: none; /* enlève le soulignement par défaut */
  color: rgb(255, 255, 255); /* couleur du texte */
  /*background: var(--couleur-secondaire);*/
  
  gap: 0.5rem; /* espace entre les enfants */
  font-family: 'inter', sans-serif;
  font-size: 13px;
  
}
.carrousel {
 
  position: relative;
}

.carrousel_btn {
position: absolute;
top: 60%;

transform: translateY(-50%); /* methode du point mort */
width: 2rem;
height: 2rem;
padding: 16px;
border-radius: 0 3px 3px 0;
background: rgba(0, 0, 0, .5);
display: grid;
place-content: center;
color: #ffffff;
}

.carrousel_btn-avant {
left: 0;
}

.carrousel_btn-apres {
right: 0;
}

.carrousel_btn:active {
  background: rgba(225, 67, 5, 0.8);

}
.caroussel_liste-liens {
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 0; /* enlève les marges par défaut */
  padding: 0; /* enlève les padding par défaut */
  list-style: none; /* enlève les puces par défaut */
  
  margin-top: 340px; /* ajoutez une marge en haut pour déplacer le conteneur vers le bas */
  gap: 0.5rem; /* espace entre les enfants */
  left: 38%; /* déplace le conteneur vers la droite de 50% de la largeur du parent */
  
}
.caroussel_lien {
  display: inline-block; /* permet de mettre les enfants sur une ligne */
 
 
  padding: 8px; /* espace entre le texte et le bord */
  border: 2px solid black; /* bordure */
  border-radius: 50%; /* arrondi de la bordure */
  text-decoration: none; /* enlève le soulignement par défaut */
  background-color: white;
  height: 2px;
  width: 2px;
}
.actif {
  background: rgba(225, 67, 5, 0.8);
  border: 2px solid var(--couleur-secondaire); /* bordure */
  
  

}

.caroussel_lien:focus {
  background-color: var(--couleur-tonique);
}

.carrousel__legende {
  background: black;
  
  margin-bottom: 50px;
  padding: 0.5rem; /* enlève les padding par défaut */
  padding-bottom: 1rem;
  font-size: 13px;
  font-weight: 500;
  
  color: white;
}

.carrousel__sous-titre{

  padding: 30px 0;
}

.carrousel__text{
  font-size: 16px;
  color: black;
  font-weight: 400;
  margin-bottom: 10px;
}

