
.carrousel img {
    position: relative;
    height: auto;
    z-index: 0;
    border: var(--couleur-secondaire) 5px solid;
    

}
.carrousel_parent-ecrans {
    
    display: flex;
    width: 100%;
    overflow-x: scroll; /* permet de scroller horizontalement */
    scroll-behavior: smooth; /* animation de défilement */
    scroll-snap-type: x mandatory; /* permet de scroller par blocs */
}
.carrousel_ecran {
  position: relative;
  overflow: hidden;
    width: 100%; /* largeur du parent pour chaque enfant */
    flex: none;  /* permet de garder toute la largeur du parent */
    scroll-snap-align: start; /* aligne les enfants par blocs */
    margin-bottom: 23px;
    
    
}
.carrousel_ecran figure {
  
    
    display: flex; /* permet de mettre les enfants sur une ligne */
    align-items: center; /* centre verticalement les enfants */
    flex-direction: column; /* aligne les enfants verticalement */
    text-decoration: none; /* enlève le soulignement par défaut */
    color: rgb(255, 0, 0); /* couleur du texte */
    background-color: rgb(255, 255, 255);
    
}


.carrousel {
  position: relative;
  margin-top: 30px;
  
  
}

.carrousel_btn {
  position: absolute;
  top: 55%;
  transform: translate(0, -50%);
  padding: 14px;
  border-radius: 0 3px 3px 0;
  background: white;
  transition: all .3s;
  z-index: 1;
}

.carrousel_btn-avant {
  position: absolute;
  left: 37.5px;
}

.carrousel_btn-apres {
  position: absolute;
  right: 37.5px;
}
.caroussel_liste-liens {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 1rem;
  margin-bottom: 13%;
}

 .carrousel_lien{
    padding: 0.5rem; /* padding haut/bas et gauche/droite */
    background-color: var(--couleur-secondaire);
    border-radius: 0.5rem; /* arrondi les coins */
    text-decoration: none; /* enlève le soulignement par défaut */
    color: rgb(0, 0, 0); /* couleur du texte */
    font-size: 1rem; /* taille du texte */
    font-weight: 500; /* graisse du texte */
    
 }
 .carrousel_item {
  transform: rotateY(40deg); /* Fait pivoter l'élément pour créer un effet 3D */
}

  
.carrousel__sous-titre{
  font-family: 'roboto';
  font-size: 23px;
  padding: 5%;
  background-color: var(--couleur-secondaire);
}

.carrousel__text{
  bottom: -50px;
  left: 0;
  width: 100%;
  padding: 1.5%;
  background-color: var(--couleur-secondaire); /* Ajoute une superposition semi-transparente */
  bottom: 1rem;
  color: #fff;
 
  transition: background-color 0.5s ease-in-out;
  font-family: 'inter';
  font-size: 16px;
  
}

.carrousel__btnrond {
  
  position: relative;
  
  height: 15px;
  width: 15px;
  border-radius: 50%;

  margin: 10px 2px 0 2px;
  background-color: #c02f2f;
  
  display: inline-block;
  transition: all .3s;
  z-index: 100;
  bottom: -60px;
}

.carrousel__btnrond--container{
  display: flex;
  justify-content: center; /* centre les boutons horizontalement */
  position: absolute;
  bottom: 1px;
  width: 100%; /* assurez-vous que le conteneur s'étend sur toute la largeur du carrousel */
}

