.intro{
    background-color: var(--couleur-secondaire);
    height: auto; /* La hauteur est maintenant de 100% de la hauteur de la fenêtre d'affichage */
    min-height: 80vh;
    width: 100vw;
}


.intro__img-container {
    top: 90px;
    width: 100%;
    position: relative;
    opacity: 0.4;
    
    
}
  
  
.intro__citation cite {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: rgb(255, 255, 255);
    font-family: 'fresca';
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    width: 90%; /* Ajouté pour augmenter la largeur du texte */

    font-style: normal;
    text-decoration: underline;
  }

.intro__text{
    padding: 0.5rem;
    position: relative;
    margin-right: 5px;
    color: white;
    font-size: 18px;
    text-align: center;

    top: 100px;

}

.intro__title{
    z-index: 1;
    position: relative;
    bottom: -50px;
    color: white;
    text-align: center;
    padding: 10px;
    
    margin-bottom: -65px;
     
}


.intro__icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 105px;
}
