.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: var(--couleur-secondaire); /* Couleur de fond opaque */
    display: grid;
    place-content: center;
    z-index: 1;
    
}

.menu--open {
    right: 0;
}

.menu--open {
    position: absolute;
    right: 0;
}



.menu__list{
    display: flex;
    flex-direction: column;
    justify-content: center;

    list-style: none;
    gap: 5rem;
}

.menu__list--element {
    text-decoration: none;
    font-family: 'Inter';
    font-size: 19px;
    font-style: normal;
    color: rgb(255, 255, 255);
}

.no-scroll, .noscroll body {
    overflow: hidden;
}

.header__logo--link{
     
}