.menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--couleur-secondaire);
    
    right: -100%;
    transition: right 0.3s ease-in-out;

    z-index: 10;

    top: 0;
}

.menu--open {
    right: 0;
}


.menu__list{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10vw;
    margin-top: 1vw;
    
}
.menu__logo{
    padding: 1rem;
}

.menu__list--element {
    font-size: 4vw;
    font-weight: 500;
    text-decoration: none;
    font-family: 'inter', sans-serif;
    color: rgb(255, 255, 255);
}

.menu__footer{
    text-align: ;
    padding: 0.8rem;
    font-size: 4vw;
    font-weight: 400;
    color: white;
    
    
}

.menu__footer--logo{
    height: 10vw;
}

.noscroll{
    overflow: hidden;
}


