.erreur__title{
    font-size: 53px;
    margin-top: -20px;
    font-weight: 700;
    z-index: 1;
    
    color: var(--couleur-tonique);
    
}

.page404{
    background-color: var(--couleur-secondaire);
    height: 100vh; /* La hauteur est maintenant de 100% de la hauteur de la fenêtre d'affichage */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

.page404__img{
    position: absolute;
    opacity: 0.17;
    padding: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Ajoutez cette ligne pour que l'image couvre toute la page sans être déformée */
    background-color: var(--couleur-secondaire);

}
.erreur__text{
    font-weight: 500;
    z-index: 1;
    margin-top: 6vh;
    color: var(--couleur-de-fond);
}